@model IEnumerable<AspNetCoreCURDMVC_Demo.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h3>Customers List</h3>

<p>
    <a asp-action="Create_customer" class="btn btn-primary")>Create New</a>
</p>
<table class="table table-dark table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_customer", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "customer_Details", new { id = item.ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete_customer", new { id = item.ID }, new { @class = "btn btn-danger" })    
            </td>
        </tr>
}
    </tbody>
</table>
